/* --------------------------------
   1. External imports (must come first)
-------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&display=swap");
@import "tailwindcss";


/* --------------------------------
   2. Custom styles
-------------------------------- */
body {
  font-family: "Inter", "Manrope", "Noto Sans", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
